@{
    Layout = "_Layout";
    ViewData["Title"] = "Manager Dashboard";
}

<h1 style="margin-top: 20px;">Welcome Manager</h1>
<p>What would you like to do today?</p>

<div class="option-menu">
    <a class="btn btn-danger" href="@Url.Action("Create", "Movie")">Add Movie</a>
    <a class="btn btn-danger" href="@Url.Action("Index", "RoleAdmin")">Customer Accounts</a>
    <a class="btn btn-danger" href="@Url.Action("Index", "Schedule")">Sell Tickets</a>
    <a class="btn btn-danger" href="@Url.Action("Index", "RoleAdmin")">Employee Manager</a>
    <a class="btn btn-danger" href="@Url.Action("Index", "Review")">Movie Review Manager</a>
    <a class="btn btn-danger" href="@Url.Action("Edit", "Schedule")">Edit Schedule</a>
    <a class="btn btn-danger" href="@Url.Action("Create", "Schedule")">Schedule Movies</a>
    <a class="btn btn-danger" href="@Url.Action("Index", "Reports")">Reports</a>
    <a class="btn btn-danger" href="@Url.Action("Index", "Account")">Edit Manager Profile</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
