@model Group_6_Final_Project.Models.Transaction

@{
    ViewData["Title"] = "Order Confirmation";
    Layout = "_Layout";
}

<!-- Add the necessary styles for the QR code -->
<style>
    .qr-code {
        width: 150px;
        height: 150px;
    }
</style>

<div>
    <h2>Thank You for Your Order!</h2>
    <p>Your order details are confirmed. Below is a summary of your purchase:</p>

    @foreach (var transactionDetail in Model.TransactionDetail)
    {
        <tr>
            <h2>@transactionDetail.Schedule.Movie.Title</h2>
        </tr>
    }
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Customer Name
        </dt>
        <dd class="col-sm-10">
            @User.Identity.Name
        </dd>
        <dt class="col-sm-2">
            Confirmation Number
        </dt>
        <dd class="col-sm-10">
            @Model.ConfirmNumber
        </dd>
    </dl>

    <h4>Tickets in This Order</h4>
    <table class="table table-primary">
        <tr>
            <th>Movie Title</th>
            <th>Start Time</th>
            <th>Theatre</th>
            <th>Ticket Price</th>
            <th>Seat Selection</th>
        </tr>
        @foreach (var transactionDetail in Model.TransactionDetail)
        {
            <tr>
                <td>@transactionDetail.Schedule.Movie.Title</td>
                <td>@transactionDetail.Schedule.StartTime.ToString("HH:mm tt")</td>
                <td>@transactionDetail.Schedule.Theatre</td>
                <td>@transactionDetail.SchedulePrice</td>
                <td>@transactionDetail.SeatSelection</td>
            </tr>
        }
    </table>

    <h5>Order Summary</h5>
    <table class="table table-sm table-bordered" style="width:30%">
        <tr>
            <th colspan="2" style="text-align:center">Order Summary</th>
        </tr>
        <tr>
            <td>Order Subtotal:</td>
            <td>@Html.DisplayFor(model => model.TransactionSubtotal)</td>
        </tr>
        <tr>
            <td>Tax:</td>
            <td>@Html.DisplayFor(model => model.TransactionTax)</td>
        </tr>
        <tr>
            <td>Order Total:</td>
            <td>@Html.DisplayFor(model => model.TransactionTotal)</td>
        </tr>
    </table>
    <div>
        <a asp-action="Index" class="btn btn-secondary">Back to Homepage</a>
    </div>
</div>

@functions {
    // Helper method to convert Bitmap to byte array
    public static byte[] BitmapToBytes(System.Drawing.Bitmap bitmap)
    {
        using (var stream = new MemoryStream())
        {
            bitmap.Save(stream, System.Drawing.Imaging.ImageFormat.Png);
            return stream.ToArray();
        }
    }
}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>